:root {
    --first: #00002c;
    --second: #ebff0b;
    --thired: #ff0070;
    --fourth: #00fbec;
    --fifth: #ffffff;
    --sixth: #000000;
    --seven:#3ed39d;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #00002c;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: #ffffff;
    font-size: 18px;
}

p {
    line-height: 24px;

}

header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 7vw;
    align-items: center;
    background-color: #00000000;
    height: 12vh;
}

header .logo img {
    height: 3vh;
}

header nav li {
    list-style: none;
}

header nav a {
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
    border: 2px solid white;
    padding: 10px 26px;
    border-radius: 7px;
}

.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
}

.hero svg {
    height: 80vh;
}

.hero h1 {
    font-size: 60px;
}

.hero p {
    font-size: 18px;
    line-height: 24px;
    max-width: 500px;
}

.hero a {
    color: var(--seven);
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 14px;
    width: fit-content;
}

.hero a i {
    margin-left: 5px;
    transition: transform .3s ease-out;
    transform: rotate(0deg);

}

.hero a:hover i {
    transform: rotate(90deg);
}

.heroback {
    position: absolute;
    left: -30%;
    transform: rotate(90deg);
    width: 20vw;
    z-index: -12;
}

.hero-shapes .shape-top-left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--first);
    opacity: 0.4;
}

.hero-shapes .shape-top-left {
    position: absolute;
    top: 10%;
    right: 20%;
    z-index: -1;
}

.hero-shapes .shape-top-left img {
    width: 300px;
}

.hero-shapes .shape-bottom-center {
    position: absolute;
    bottom: 10%;
    left: 30%;
    z-index: -1;
}

.hero-shapes .shape-bottom-center img {
    width: 150px;
    transform: rotate(238deg);

}


.hero-shapes .shape-bottom-right {
    position: absolute;
    bottom: 10%;
    right: 20%;
    z-index: -1;
}
.hero-shapes .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--first);
    opacity: 0.4;
    top: 0;
}

.hero-shapes .shape-bottom-right img {
    width: 150px;
    transform: rotate(-238deg);
}





.about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about h2 {
    font-size: 60px;
    line-height: 54px;
}

.about .name p {
    font-size: 20px;
    max-width: 500px;
    line-height: 54px;

}

.about .intro {
    max-width: 700px;
}

.about .intro p {
    font-size: 18px;
}

.about svg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    opacity: 0.3;
}

.svghover {
    fill: rgb(55, 71, 79);
    /* fill: #ebff0b; */
}

.svghover:hover {
    /* fill: #0bff40; */
    /* fill: var(--fourth); */
    fill: var(--seven);
}

#els4y94mu3c8f:hover,
#elp09mfr6t2v:hover {
    fill: red;
}

.windowlogo {
    fill: #ffffff;
}

.windowlogo:hover {
    /* fill: var(--fourth); */
    fill: var(--seven);
}


.about .about-img {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    z-index: -500;
}

.about .about-img img {
    height: 100vh;
    width: 100vw;
}

.about .about-img::before {
    content: '';
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--first);
    opacity: .4;
}




.skills{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills .skill-container{
    max-width: 50vw;
    text-align: center;
}
.skills .skill-container h2{
    font-size: 60px;
}

.skills .skill-container .phrese{
    font-size: 16px;
    text-transform: uppercase;
}

.skills .skill-container .skill-brands{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap:15px;
    z-index: 20;
}
.skills .skill-container .brand-logo{
    height: 100px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    z-index: 20;
}
.skills .skill-container .brand-logo p{
    z-index: 200;
}

.skills .skill-container .brand-logo img{
    width: 100%;
}
.skills .skill-container .skill-brands .brand-box{
    display: grid;
    justify-content: center;
    align-items: flex-end;
}
.skills .background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -20;
}
.skills .background .shape-top-left{
    height: 150px;
    width: 150px;
}

.skills .background .shape-top-left img{
    position: absolute;
    width: 150px;
    top: 150px;
    left: 150px;
    transform: rotate(108deg);
    z-index: -1;
}
.skills .background .shape-top-left::before{
    content: '';
    position: absolute;
    width: 160px;
    height: 160px;
    top: 150px;
    left: 145px;
    transform: rotate(108deg);
    background: var(--first);
    opacity: .3;
}
.skills .background .shape-center-right{
    height: 150px;
    width: 150px;
}

.skills .background .shape-center-right img{
    position: absolute;
    width: 150px;
    top: 40vh;
    right: 150px;
    transform: rotate(32deg);
    z-index: -1;
}
.skills .background .shape-center-right::before{
    content: '';
    position: absolute;
    width: 160px;
    height: 280px;
    top: 34vh;
    right: 145px;
    transform: rotate(61deg);
    background: var(--first);
    opacity: .3;
    z-index: -1;
}

.skills .background .shape-center-bottom{
    height: 150px;
    width: 150px;
}

.skills .background .shape-center-bottom img{
    position: absolute;
    width: 150px;
    bottom: 130px;
    left: 450px;
    transform: rotate(144deg);
    z-index: -1;
}
.skills .background .shape-center-bottom::before{
    content: '';
    position: absolute;
    width: 160px;
    height: 186px;
    bottom: 120px;
    left: 438px;
    transform: rotate(153deg);
    background: var(--first);
    opacity: .3;
}

.portfolio{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.portfolio .portfolio-intro{
    width: 50vw;
    text-align: center;
}
.portfolio .portfolio-intro h2{
    font-size: 60px;
}
.portfolio .portfolio-intro p{
    margin: auto;
    max-width: 70%;
    text-align: center;
}
.portfolio .portfolio-intro a{
    margin: auto;
    color: var(--seven);
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 14px;
    width: 124px;
}
.portfolio .portfolio-intro a i{
    transition: margin 0.5s ease;
    margin-left: 12px;
}
.portfolio .portfolio-intro a:hover i{
    margin-left: 20px;
}
.contect{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.contect .form{
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.contect .form input{
    height: 35px;
    width: 100%;
    background: transparent;
    border: 1px solid var(--seven);
    padding: 5px;
}

.contect .form .name-email{
    display: flex;
    gap: 10px;
    /* width: 30vw; */
}
.contect .form textarea{
    height: 150px;
    width: 100%;
    background: transparent;
    border: 1px solid var(--seven);
    padding: 5px;

}
.contect .form button{
    height: 35px;
    width: 25%;
    font-size: 15px;
    color: var(--seven);
    background: transparent;
    border: 1px solid var(--seven);
}
.contect a{
    text-decoration: none;
    color: var(--seven);
}
.contect .form a{
    font-size: 18px;
    margin: 0 7px;
}
.contect .form input::placeholder{
    font-size: 15px;
}
.contect .form textarea::placeholder{
    font-size: 15px;
}
.contect .contect-detail{
    height: 30vh;
    width: 30vw;
}
.contect .contect-detail h2{
    font-size: 60px;
}

footer a{
    text-decoration: none;
    left: 20px;
    bottom: 20px;
    color: var(--seven);
    font-size: 30px;
    position: fixed;
}