:root{
    --first:#00002c;
    --second:#ebff0b;
    --thired :#ff0070;
    --fourth:#00fbec;
    --fifth:#ffffff;
    --sixth:#000000;
}

/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    background: var(--first);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 7rem;
    height: 8rem;
    align-items: center;
}
header .logo{
    height: 100%;
    display: flex;
    align-items: center;
}
header .logo img{
    height: 1.5rem;
}
header nav li{
    list-style: none;
}
header nav a{
    text-decoration: none;
    color: var(--fifth);
    border: 2px solid var(--fifth);
    padding: 10px 26px ;
    border-radius: 7px;
    text-transform: capitalize;
    font-family: sans-serif;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #00002c;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;    
    color: #ffffff;
    font-size: 18px;
}
p{
    line-height: 24px;

}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 7vw;
    align-items: center;
    background-color: #00000000;
    height: 12vh;
}

header .logo img{
height: 3vh;
}
header nav li{
    list-style: none;
}

header nav a{
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: capitalize;
    border: 2px solid white;
    padding: 10px 26px ;
    border-radius: 7px;
}

.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
}
.hero svg{
    height: 80vh;
}
.hero h1{
    font-size: 60px;
}
.hero p{
    font-size: 18px;
    line-height: 24px;
    max-width: 500px;
}
.hero a{
    color: #3ed39d;
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 14px;
    width: fit-content;
}
.hero a i{
    margin-left: 5px;
    transition: transform .3s ease-out ;
    transform:rotate(0deg);

}
.hero a:hover i{
    transform:rotate(90deg);
}
.heroback{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -12;
    opacity: .2;
}

.about{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about h2{
    font-size: 60px;
    line-height: 54px;
}
.about .name p{
    font-size: 20px;
    max-width: 500px;
    line-height: 54px;

}
.about .intro{
    max-width: 700px;
}
.about .intro p{
    font-size: 18px;
}
.about svg{
    height: 100vh;
    width: 100vw;
    position: absolute;
    opacity: 0.3;
}